<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3ea7b31e-8ace-49ed-916a-c3fc97bf55d6/resourceGroups/Ins2024/providers/Microsoft.Web/sites/InsBarreraAPI</ResourceId>
    <ResourceGroup>Ins2024</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://insbarreraapi-dnfzdcamc3dzgefb.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>2a8d6540-7da1-413a-be7f-56b1e7c6a233</ProjectGuid>
    <MSDeployServiceURL>insbarreraapi-dnfzdcamc3dzgefb.scm.canadacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>InsBarreraAPI</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>Dependiente de marco de trabajo</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAy90QFjc7gkiqthvSFIaP1QAAAAACAAAAAAAQZgAAAAEAACAAAABWHfLrYXcqqaOf7Z6xH4HG2E6oTHn2RJpqMWuC3FyizgAAAAAOgAAAAAIAACAAAAA9ZkvfRFGt+Epq3XTT2czYsN6Zoph8m4v9bek+MMosQSAAAACHlYuYQFbgp/Tawk7x/EeVevPBgXkImdurzCf+8moq50AAAACBCViT3kxFbo5mUguTq3uNtBbA48+ENx3Drl9toQmXcVmoLir+ca4yarmGyBHQK0manqxFFHib9cr89XY/CnwF</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>